* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Figtree', sans-serif;
    font-weight: 400; 

    line-height: 1.6; 
}

h1 {
    font-family: 'Figtree', sans-serif;
    font-weight: 700; 
    margin: 20px 0;
    color: #f0f2f5;
}

h2 {
        font-family: 'Figtree', sans-serif;
        font-size: 2.5rem;
        margin-bottom: 20px;
        color: #241000;
      
    }

    

p {
    font-family: 'Figtree', sans-serif;
    font-weight: 400;
    margin-bottom: 15px;
}


.hero {
    display: flex;
    align-items: center; 
    justify-content: center; 
    height: 100vh; 
    background: url('images/clouds+ocean.jpg') no-repeat center center; 
    background-size: cover; 
    color: white; 
    position: relative; 
    text-align: center; 
}

.hero-overlay {
    background-color: #2034448a; 
    padding: 15px;
    border-radius: 10px;
}

.title {
    font-size: 3rem;
    margin-bottom: 10px;
}

.subtitle {
    font-size: 1.5rem;
    margin-bottom: 15px;
}

.description {
    font-size: 1rem;
    line-height: 1.6;
    max-width: 600px;
    margin: 0 auto; 
}


.gallery-item {
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.contact {
    padding: 40px;
    background-color: white;
    text-align: center;
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    min-height: 200px; 
}

.contact h2 {
    margin-bottom: 20px;
}

.contact a {
    color: #333;
    text-decoration: none;
}

.contact a:hover {
    text-decoration: underline;
}



a:hover {
    color: #180d00;
    text-decoration: underline;
}

.gallery-item:hover {
    transform: scale(1.05);
    cursor: pointer;
}

a:active, button:active {
    transform: scale(0.98);
}


.gallery-title::before {
    
    display: block;
    width: 50px;
    height: 2px;
    background-color: #fff;
    margin-bottom: 5px;
}

.gallery-item::after {
    
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: background 0.3s ease;
}

.gallery-item:hover::after {
    background: rgba(21, 36, 52, 0.317);
}


.about-image:hover {
    transform: scale(1.05) rotate(5deg);
    transition: transform 0.5s ease;
}

.contact:hover {
    transform: translateY(-10px);
    transition: transform 0.3s ease-in-out;
}


.about-container {
    display: flex; 
    gap: 80px; 
    align-items: center; 
    padding: 50px;
}

.about-image img {
    width: 100%;
    max-width: 3000px; 
    border-radius: 10px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
}


.gallery {
    display: flex;
    gap: 20px; 
    flex-wrap: wrap; 
    justify-content: center; 
    padding: 50px;
}

.gallery-item {
    position: relative;
    width: calc(25% - 20px); 
    height: 200px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    overflow: hidden;
}
.section-title {
    font-family: 'Figtree', sans-serif;
    font-size: 2.5rem;
    margin-bottom: 20px;
    padding-left: 40px; 
    padding-top: 50px;
}



.gallery-title {
    position: relative;
    top: 80px; 
    left: 2px;
    right: 100px;
    font-family: 'Figtree', sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    color: white;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7); 
    text-align: center;
 
    
}
.footer {
    text-align: center;
    padding: 20px;
    background-color: #44607c;
    color: white;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    min-height: 80px; 
}


@media (max-width: 768px) {
    .hero {
        height: 60vh;
        text-align: center;
    }

   
    .about-container {
        flex-direction: column; 
        align-items: center; 
    }
   
    .gallery {
        flex-direction: column; 
        align-items: center; 
    }

    .gallery-item {
        width: 80%; 
        height: 150px;
    }
}
